<!DOCTYPE html>
<html lang="es-MX">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="control.css">
  <title>Control Escolar</title>
</head>
<body>


  <div class="container">


    <main>


      <article>

        <header>
          <h2>Estructura curricular del bachillerato general estatal</h2>
        </header>


      </article>





      <article>

        <!-- BECAS BENITO JUAREZ -->

        <p>La Beca Universal para el Bienestar Benito Juárez de Educación Media Superior (Beca Universal para Estudiantes de
        Educación Media Superior Benito Juárez) es un apoyo del Gobierno de México dirigido a las y los alumnos que cursan el
        bachillerato o profesional técnico bachiller en alguna escuela pública. Tienen prioridad las y los alumnos inscritos en
        escuelas de modalidad escolarizada o mixta que se ubican en localidades prioritarias</p>

        <h3>Objetivo</h3>
        <p>Otorgar becas para la permanencia y terminación escolar de las y los estudiantes en instituciones públicas de Educación Media Superior.</p>
        <p>Contribuye a que las y los jóvenes que cursan el bachillerato o profesional técnico bachiller en alguna escuela pública
        en modalidad escolarizada o mixta, puedan continuar y concluir sus estudios. Tienen prioridad quienes estudian en escuelas ubicadas en localidades prioritarias.</p>

        <h4>Requisitos</h4>
        <ul>
          <li>Debes estar inscrita o inscrito en alguna escuela pública de nivel bachillerato o profesional técnico bachiller.</li>
          <li>No debes recibir otra beca con el mismo fin otorgada por programas federales.</li>
        </ul>


      </article>





      <article>

        <!-- MIGE -->

        <h3>Conoce la plataforma MIGE Edomex</h3>
        <p>A través de la plataforma MIGE Edomex puedes hacer diferentes procesos, entre ellos la consulta de calificaciones escolares, conoce como acceder a ella.</p>
        
        <h3>¿Qué es mige Edomex?</h3>
        <p>MIGE Edomex, es una plataforma digital por medio de la cual las madres y padres de familia, así como tutores, profesores
        e incluso alumnos pueden hacer diferentes trámites escolares referentes al Estado de México.</p>
        <p>Principalmente este recurso pedagógico es para que los docentes de preescolar, primaria y secundaria suban las
        calificaciones escolares de los diferentes periodos de evaluaciones.</p>

      </article>


    </main>




    <aside>

      <h3>Documentos</h3>

      <p>Calendario Escolar</p>
      <p>Formato Baja</p>
      <p>Folleto</p>
      <p>Carta Compromiso Entrega Certificado Secundaria</p>
      <p>Carta Compromiso Entrega Historial Equivalencia</p>
      <p>Compromiso Entrega Carnet</p>
      <p>Consentimiento Atención Primaria Adicciones</p>
      <p>Croquis</p>
      <p>Formato Seguro Facultativo</p>
      <p>Operación Mochila</p>
      <p>Reglamento y Carta Compromiso</p>
      <p>Solicitud de Inscripción</p>

    </aside>


  </div>

  
</body>
</html>