<!DOCTYPE html>
<html lang="es-MX">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Escuela Preparatoria Oficial Numero 358.">
  <meta name="keywords" content="Preparatoria, preparatoria, Bachillerato, bachillerato, Prepa, prepa, EPO, epo, Lerma, lerma">
  <meta name="robots" content="index, follow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/facilities/small.css" media="screen and (min-width: 280px)">
  <link rel="stylesheet" href="/assets/css/facilities/medium.css" media="screen and (min-width: 480px)">
  <link rel="stylesheet" href="/assets/css/facilities/large.css" media="screen and (min-width: 800px)">
  <link rel="stylesheet" href="/assets/css/facilities/largeX.css" media="screen and (min-width: 1024px)">
  <title>Instalaciones</title>
</head>
<body>

  <div class="container">

    <main>


      <div class="facilities">

        <div class="facilities__description">

          <h2>Área para Bicicletas</h2>

          <picture class="facilities__description--firstImage">
            <!-- <source srcset="" media="(min-width: 2600px)">
            <source srcset="" media="(min-width: 2600px)"> -->
            <img src="/assets/images/facilities/bicycle1.jpg" alt="Primera Foto del Área para Bicicletas">
          </picture>

          <section>

            <h2>Área para Bicicletas</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate sequi pariatur itaque atque ratione impedit ea fugit temporibus tenetur repellat. Recusandae, voluptatem architecto? Corrupti aliquid dignissimos dicta error voluptate perferendis?</p>

          </section>

          <figure class="facilities__description--logo">
            <img src="/assets/logos/logo.png" alt="Logo de la epo 358">
          </figure>

        </div>


        <div class="facilities__images">

          <picture>
            <!-- <source srcset="" media="(min-width: 2600px)">
            <source srcset="" media="(min-width: 2600px)"> -->
            <img src="/assets/images/facilities/bicycle2.jpg" alt="Segunda Foto del Área para Bicicletas">
          </picture>


          <picture>
            <!-- <source srcset="" media="(min-width: 2600px)">
            <source srcset="" media="(min-width: 2600px)"> -->
            <img src="/assets/images/facilities/bicycle3.jpg" alt="Tercera Foto del Área para Bicicletas">
          </picture>


          <picture>
            <!-- <source srcset="" media="(min-width: 2600px)">
            <source srcset="" media="(min-width: 2600px)"> -->
            <img src="/assets/images/facilities/bicycle4.jpg" alt="Cuarta Foto del Área para Bicicletas">
          </picture>

        </div>

      </div>


      <hr>


      <div class="facilities">
      
        <div class="facilities__description">
      
          <h2>Cancha de Fútbol</h2>
      
          <picture class="facilities__description--firstImage">
            <img src="/assets/images/facilities/soccer1.jpg" alt="Primera Foto de la Cancha de Fútbol">
          </picture>
      
          <section>
      
            <h2>Cancha de Fútbol</h2>
      
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate sequi pariatur itaque atque ratione impedit
              ea fugit temporibus tenetur repellat. Recusandae, voluptatem architecto? Corrupti aliquid dignissimos dicta
              error voluptate perferendis?</p>
      
          </section>
      
          <picture class="facilities__description--logo">
            <img src="/assets/logos/logo.png" alt="Logo de la epo 358">
          </picture>
      
        </div>
      
      
        <div class="facilities__images">
      
          <picture>
            <img src="/assets/images/facilities/soccer2.JPG" alt="Segunda Foto de la Cancha de Fútbol">
          </picture>
      
      
          <picture>
            <img src="/assets/images/facilities/soccer3.jpg" alt="Tercera Foto de la Cancha de Fútbol">
          </picture>
      
      
          <picture>
            <img src="/assets/images/facilities/soccer4.JPG" alt="Cuarta Foto de la Cancha de Fútbol">
          </picture>
      
        </div>
      
      </div>


      <!-- <hr> -->


      <div class="panoramic">
  
        <div class="panoramic__text">
  
          <p>Estamos creciendo de la mano con nuestros alumnos.</p>
  
        </div>
  
      </div>

    </main>


    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrow-up-circle-fill circle" viewBox="0 0 16 16" id="prba">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
    </svg>

  </div>
  
<script src="/assets/js/main.js"></script>
</body>
</html>