<!DOCTYPE html>
<html lang="es-MX">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/header.css">
  <title>Document</title>
</head>
<body>
  

  <div class="container">

    <header>

      <div class="header__navBar">

        <figure>
          <img src="/assets/logos/logoWhite.png" alt="Logo EPO 358" id="iconLogo">
        </figure>


        <nav id="navMenu">

          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-list iconBar" id="iconMenuMobile" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
        
          <div class="navContainer">
            <p class="nav__container--title">epo 358</p>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Conócenos</a></li>
              <li><a href="#">Alumnos</a></li>
              <li><a href="#">Docentes</a></li>
              <li><a href="#">Control Escolar</a></li>
              <li><a href="#">Orientación</a></li>
              <li><a href="#">Académico</a></li>
              <li><a href="#">Contácto</a></li>
            </ul>
            <figure>
              <img src="/assets/logos/logo.png" alt="Logo epo358">
            </figure>
          </div>
        
        </nav>

      </div>



      <div class="header__container">

        <div class="header__background">
          <picture>
            <source srcset="/assets/images/heroImage480.jpg" media="(max-width: 480px)">
            <source srcset="/assets/images/heroImage680.jpg" media="(max-width: 680px)">
            <source srcset="/assets/images/heroImage800.jpg" media="(max-width: 800px)">
            <source srcset="/assets/images/heroImage1200.jpg" media="(max-width: 1200px)">
            <source srcset="/assets/images/heroImage1400.jpg" media="(max-width: 1400px)">
            <img src="/assets/images/heroImage.jpg" id="heroImage">
          </picture>
        </div>

        <h1 id="title--page">Title</h1>
  
        <img src="/assets/icons/lineedomex.png" class="header--lineEdomex" id="line_edomex">
      
      </div>
      

    </header>
    

    <main>

      <h1>Título</h1>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti accusantium officiis earum laborum nihil sequi quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
      quasi beatae fugit eos ab ex, assumenda in, maiores magnam temporibus nemo ducimus. Beatae, cum.</p>
    

    </main>






  </div>


<script>



  function showMenu() {

    // let body = document.getElementById('body');
    // let hero = document.getElementById('heroImage');
    // let icon = document.getElementById('iconLogo');
    // let title = document.getElementById('title--page');
    // let edomex = document.getElementById('line_edomex');
    let element = document.getElementById('navMenu') ;

    

    // let background = body.classList;
    // let heroImage = hero.classList;
    // let iconWolf = icon.classList;
    // let title__page = title.classList;
    // let mex = edomex.classList;
    let menu = element.classList;
    

    // background.toggle('backgroundBody');
    // heroImage.toggle('opacityImage');
    // iconWolf.toggle('opacityImage');
    // title__page.toggle('opacityImage');
    // mex.toggle('opacityImage');
    menu.toggle('toggleMenu');

  }

  document.getElementById('iconMenuMobile').addEventListener('click', showMenu);

  


</script>
</body>
</html>