<!DOCTYPE html>
<html lang="es-MX">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Escuela Preparatoria Oficial Numero 358.">
  <meta name="keywords" content="Preparatoria, preparatoria, Bachillerato, bachillerato, Prepa, prepa, EPO, epo, Lerma, lerma">
  <meta name="robots" content="index, follow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/teachers/small.css" media="screen and (max-width: 480px)">
  <link rel="stylesheet" href="/assets/css/teachers/medium.css" media="screen and (min-width: 480px) and (max-width: 680px)">
  <link rel="stylesheet" href="/assets/css/teachers/large.css" media="screen and (min-width: 680px) and (max-width: 800px)">
  <link rel="stylesheet" href="/assets/css/teachers/extra_large.css" media="screen and (min-width: 800px) and (max-width: 1200px)">
  <link rel="stylesheet" href="/assets/css/teachers/largeX.css" media="screen and (min-width: 1200px)">
  <title>Docentes</title>
</head>
<body>

  <div class="container">

    <main>


      <div class="teachers__checkItem">

        <section>

          <div>

            <p>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-check-circle teachers__checkItem--item" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg>
              </span>
              &nbsp;El 4% de los docentes tienen doctorado
            </p>
            
            <p>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-check-circle teachers__checkItem--item" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg>
              </span>
              &nbsp;La directora de esta institución cuenta con 34 años de servicio y 27 años trabajando en EMS
            </p>

          </div>


          <div>

            <p>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-check-circle teachers__checkItem--item" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg>
              </span>
              &nbsp;El 31% de los docentes cuentan con maestría
            </p>
            
            <p>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-check-circle teachers__checkItem--item" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg>
              </span>
              &nbsp;El 15% de nuestros docentes concursaron por una plaza y son idóneos
            </p>

          </div>

        </section>

        <p>Por la Educación el Hombre Transforma al Mundo</p>

      </div>



      <div class="teachersContainer">

        <h2>- Docentes -</h2>
      
        <section>

          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Susana_Rosas_Sanchez.png" alt="Profra. Susana Rosas Sánchez">
              </figure>
            
              <p>Profra. Susana Rosas Sánchez</p>
              <p>Directora Escolar</p>
            
            </div>
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Sarahi_Ramos_Rojas.PNG" alt="Profra Sarahi Ramos Rojas">
              </figure>
            
              <p>Profra. Sarahi Ramos Rojas</p>
              <p>Secretaria Escolar</p>
            
            </div>

          </div>
      
        </section>





        <section>

          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Vianey_Perez_Bautista.PNG" alt="Profra. Vianey Perez Bautista">
              </figure>
            
              <p>Profra. Vianey Perez Bautista</p>
              <p>Orientadora Académica</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Juan_Carlos_Reyes_Acosta.PNG" alt="Profr. Juan Carlos Reyes Acosta">
              </figure>
            
              <p>Profr. Juan Carlos Reyes Acosta</p>
              <p>Orientador Educativo</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Yarazeth_Amalia_Arrieta_Garcia.jpg" alt="Profra. Yarazeth Amalia Arrieta Garcia">
              </figure>
            
              <p>Profra. Yarazeth Amalia Arrieta Garcia</p>
              <p>Docente</p>
            
            </div>

          </div>



         <div class="teachers-group">

          <div class="teachers-profileContainer">
          
            <figure class="teachers-profileImg">
              <img src="../assets/images/C_Macciel_Cesar_Garcia.jpg" alt="Profra. Macciel Cesar Garcia">
            </figure>
          
            <p>Profra. Macciel Cesar Garcia</p>
            <p>Docente</p>
          
          </div>
          
          
          
          <div class="teachers-profileContainer">
          
            <figure class="teachers-profileImg">
              <img src="../assets/images/C_Maidely_Cruz_Monroy.jpg" alt="Profra. Maidely Cruz Monroy">
            </figure>
          
            <p>Profra. Maidely Cruz Monroy</p>
            <p>Docente</p>
          
          </div>
          
          
          
          <div class="teachers-profileContainer">
          
            <figure class="teachers-profileImg">
              <img src="../assets/images/C_Geovana_Ibeth_Erehiba_Perez.png" alt="Profra. Geovana Ibeth Erehiba Perez">
            </figure>
          
            <p>Profra. Geovana Ibeth Erehiba Perez</p>
            <p>Docente</p>
          
          </div>

         </div>



          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Raul_Jesus_Espinosa_Soriano.png" alt="Profr. Raul Jesus Espinosa Soriano">
              </figure>
            
              <p>Profr. Raul Jesus Espinosa Soriano</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Sharon_Estrada_Hernandez.png" alt="Profra. Sharon Estrada Hernandez">
              </figure>
            
              <p>Profra. Sharon Estrada Hernandez</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Arturo_Garcia_Zea.png" alt="Profr. Arturo Garcia Zea">
              </figure>
            
              <p>Profr. Arturo Garcia Zea</p>
              <p>Docente</p>
            
            </div>

          </div>



          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/" alt="Profr. Adrian Gomez Juarez">
              </figure>
            
              <p>Profr. Adrian Gomez Juarez</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Ana_Isabel_Guillermo_Gonzalez.png" alt="Profra. Ana Isabel Guillermo Gonzalez">
              </figure>
            
              <p>Profra. Ana Isabel Guillermo Gonzalez</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Isabel_Erandi_Hernandez_Retana.PNG" alt="Profra. Isabel Erandi Hernandez Retana">
              </figure>
            
              <p>Profra. Isabel Erandi Hernandez Retana</p>
              <p>Docente</p>
            
            </div>

          </div>



          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Jose_Alberto_Ledezma_Reyes.jpg" alt="Profr. Jose Alberto Ledezma Reyes">
              </figure>
            
              <p>Profr. Jose Alberto Ledezma Reyes</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Francisco_Alonso_Lopez_Celaya.png" alt="Profr. Francisco Alonso Lopez Celaya">
              </figure>
            
              <p>Profr. Francisco Alonso Lopez Celaya</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Ivone_Martinez_Martinez.png" alt="Profra. Ivone Martinez Martinez">
              </figure>
            
              <p>Profra. Ivone Martinez Martinez</p>
              <p>Docente</p>
            
            </div>

          </div>
          
          
          
         <div class="teachers-group">

          <div class="teachers-profileContainer">
          
            <figure class="teachers-profileImg">
              <img src="../assets/images/C_Bertha_Elena_Martinez_Soto.jpg" alt="Profra. Bertha Elena Martinez Soto">
            </figure>
          
            <p>Profra. Bertha Elena Martinez Soto</p>
            <p>Docente</p>
          
          </div>
          
          
          
          <div class="teachers-profileContainer">
          
            <figure class="teachers-profileImg">
              <img src="../assets/images/C_Omar_Montes_Vidal.png" alt="Profr. Omar Montes Vidal">
            </figure>
          
            <p>Profr. Omar Montes Vidal</p>
            <p>Docente</p>
          
          </div>
          
          
          
          <div class="teachers-profileContainer">
          
            <figure class="teachers-profileImg">
              <img src="../assets/images/C_Ma_del_Carmen_Montoya_Villanueva.jpg" alt="Profra. Ma del Carmen Montoya Villanueva">
            </figure>
          
            <p>Profra. Ma del Carmen Montoya Villanueva</p>
            <p>Docente</p>
          
          </div>

         </div>



          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/" alt="Profr. Melchor Najera Huerta">
              </figure>
            
              <p>Profr. Melchor Najera Huerta</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Eduardo_Neri_Solis.png" alt="Profr. Eduardo Neri Solis">
              </figure>
            
              <p>Profr. Eduardo Neri Solis</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Yasmin_Selenne_Rojas_Alcantar.png" alt="Profra. Yasmin Selenne Rojas Alcantar">
              </figure>
            
              <p>Profra. Yasmin Selenne Rojas Alcantar</p>
              <p>Docente</p>
            
            </div>

          </div>
          
          
          
          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Graciela_Rojas_Rodriguez.png" alt="Profra. Graciela Rojas Rodriguez">
              </figure>
            
              <p>Profra. Graciela Rojas Rodriguez</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Lucio_Armando_Salazar_Angulo.jpg" alt="Profr. Lucio Armando Salazar Angulo">
              </figure>
            
              <p>Profr. Lucio Armando Salazar Angulo</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Alma_Lorena_Sanchez_Escobar.jpg" alt="Profra. Alma Lorena Sanchez Escobar">
              </figure>
            
              <p>Profra. Alma Lorena Sanchez Escobar</p>
              <p>Docente</p>
            
            </div>

          </div>



          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Alda_Gabriela_Sanchez_Lopez.jpg" alt="Profra. Alda Gabriela Sanchez Lopez">
              </figure>
            
              <p>Profra. Alda Gabriela Sanchez Lopez</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Yesika_Angelica_Sanchez_Santillana.jpg"
                  alt="Profra. Yesika Angelica Sanchez Santillana">
              </figure>
            
              <p>Profra. Yesika Angelica Sanchez Santillana</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Sandra_Lucero_Sostenes_Galindo.png" alt="Profra. Sandra Lucero Sostenes Galindo">
              </figure>
            
              <p>Profra. Sandra Lucero Sostenes Galindo</p>
              <p>Docente</p>
            
            </div>

          </div>
          
          
          
          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Lorena_Toledo_Contreras.jpg" alt="Profra. Lorena Toledo Contreras">
              </figure>
            
              <p>Profra. Lorena Toledo Contreras</p>
              <p>Docente</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Erika_Vences_Navarrete.jpg" alt="Profra. Erika Vences Navarrete">
              </figure>
            
              <p>Profra. Erika Vences Navarrete</p>
              <p>Docente</p>
            
            </div>

          </div>

        </section>

      </div>





      <div class="teachersContainer">

        <h4>- Personal de Apoyo -</h4>

        <section>

          <div class="teachers-group">
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Viridiana_Campos_Servin.PNG" alt="Profra. Viridiana Campos Servin">
              </figure>
            
              <p>Profra. Viridiana Campos Servin</p>
              <p>Apoyo Académico</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Ana_Lilia_de_la_Mora_Hernandez.jpg" alt="C. Ana Lilia de la Mora Hernandez">
              </figure>
            
              <p>C. Ana Lilia de la Mora Hernandez</p>
              <p>Secretaria Mecanógrafa</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Claudia_Berenice_Mondragon_Saldivar.jpg" alt="C. Claudia Berenice Mondragon Saldivar">
              </figure>
            
              <p>C. Claudia Berenice Mondragon Saldivar</p>
              <p>Secretaria Mecanógrafa</p>
            
            </div>

          </div>



          <div class="teachers-group">

            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Yesenia_Ramirez_Gomez.PNG" alt="C. Yesenia Ramirez Gomez">
              </figure>
            
              <p>C. Yesenia Ramirez Gomez</p>
              <p>Secretaria Mecanógrafa</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Armando_Gonzalez_Mejia.jpg" alt="C. Armando Gonzalez Mejia">
              </figure>
            
              <p>C. Armando Gonzalez Mejia</p>
              <p>Técnico en Electrónica</p>
            
            </div>
            
            
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Antonia_Leon_Escutia.jpg" alt="C. Antonia Leon Escutia">
              </figure>
            
              <p>C. Antonia Leon Escutia</p>
              <p>Intendente</p>
            
            </div>

          </div>



          <div class="teachers-group">
            
            <div class="teachers-profileContainer">
            
              <figure class="teachers-profileImg">
                <img src="../assets/images/C_Luis_Moctezuma_Aguilar.jpg" alt="C. Luis Moctezuma Aguilar">
              </figure>
            
              <p>C. Luis Moctezuma Aguilar</p>
              <p>Intendente</p>
            
            </div>

          </div>

        </section>

      </div>


    </main>

    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrow-up-circle-fill circle" viewBox="0 0 16 16" id="prba">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
    </svg>

  </div>

<script src="/assets/js/main.js"></script>
</body>
</html>