@import '../main.css';





/*---------- Header ----------*/

header nav svg,
.nav__container--title,
.navContainer figure {
  display: none;
}

.header__navBar img {
  margin: 1.5rem 0 0 7rem;

}

header nav {
  display: block;
  position: initial;
  right: initial;
  transition: none;
  margin: 3rem 4rem 0 0;
}

header .navContainer {
  position: initial;
  overflow: initial;
  background: none;
  height: initial;
  padding: 0;
  width: initial;
  box-shadow: none;
}

.navContainer ul {
  margin: 0;
  display: flex;
}

.navContainer ul li {
  border: none;
  margin: 0;
  height: 5rem;
}

header nav a {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 2rem;
  height: inherit;
  transition: transform 200ms ease-in-out;
}

.navContainer ul li:hover a {
  background-color: white;
  border-radius: 1rem;
  color: black;
  transform: translateY(-1rem);
}





/*---------- Container ----------*/

.container {
  padding: 1rem;
  min-width: 120rem;
  max-width: 190rem;
  margin: 0 auto;
  font-size: var(--sizeParagraphs);
}





/*---------- Check Items ----------*/

.teachers__checkItem {
  line-height: var(--paragraphs);
  margin-bottom: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers__checkItem section {
  margin-bottom: 8rem;
  display: flex;
  gap: 10rem;
}

.teachers__checkItem section p {
  margin-bottom: 5rem;
}

.teachers__checkItem--item {
  fill: var(--primary);
  width: 2.5rem;
  vertical-align: middle;
}

.teachers__checkItem>p {
  font-style: italic;
  text-align: center;
  border-bottom: .3rem solid var(--primary);
  width: 40rem;
}





/*---------- TEACHERS ----------*/

.teachersContainer {
  text-align: center;
}

.teachersContainer .teachers-group {
  display: flex;
  justify-content: space-around;
}

.teachersContainer h2,
.teachersContainer h4 {
  font-size: 2.4rem;
  color: var(--secondary);
  margin-bottom: 10rem;
}

.teachers-profileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  max-width: 150px;
  margin-bottom: 9rem;
}

.teachers-profileContainer:hover {
  transform: scale(1.2);
}

.teachers-profileImg {
  border: 3px solid var(--primary);
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

.teachers-profileImg img {
  width: inherit;
}

.teachers-profileContainer p:nth-child(3) {
  color: var(--position-teachers);
}

.teachers-profileContainer p:nth-child(2) {
  margin-bottom: 10px;
}





@media (min-width: 1200px) {

  header {
    height: 60rem;
  }

}

@media (min-width: 1300px) {

  header {
    height: 65rem;
  }

}





/*---------- Footer ----------*/

footer {
  max-width: 190rem;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.footer__contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.footer__contactNumbers {
  max-width: none;
  width: 25rem;
  margin: 0;
}

.contactNumbers__numbers {
  justify-content: space-between;
}

.footer__socialMedia {
  margin: 0;
}

.footer__socialMedia--title {
  margin-bottom: 4rem;
}

.footer__socialMedia svg {
  width: 4rem;
}

.footer__logo {
  margin: 0;
  font-size: 1.8rem;
}

.footer__copyright {
  text-align: initial;
}





