.container {
  max-width: 480px;
}




header {
  position: relative;
  height: 25vh;
  border: 1px solid black;
  overflow: hidden;
}




header picture img {
  object-fit: none;
  object-position: top center;
  width: 100%;
}

.header-menuLogo {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.header-menuLogo img {
  width: 10%;
}





.header__lineEdomex {
  position: absolute;
  bottom: 0;
  width: 100%;
}





@media (max-width: 680px) {

  .container {
    max-width: 680px;
  }


 /* header {
  height: 50vh;
 } */


}










@media (max-width: 800px) {

  .container {
    max-width: 800px;
  }

  /* header {
    height: 75vh;
  } */




}




@media (max-width: 1200px) {

  .container {
    max-width: 1200px;
  }

  /* header {
    height: 75vh;
  } */




}





@media (min-width: 1400px) {

  .container {
    max-width: 1400px;
  }

  header {
    height: 75vh;
  }



}