/*---------- Container ----------*/

.container {
  padding: 3rem;
}





/*---------- Header ----------*/

header {
  height: 40rem;
}

header h1 {
  font-size: 2.4rem;
}

.header__navBar img {
  width: 6rem;
}

header nav svg {
  width: 6rem;
}

.navContainer img {
  width: 10rem;
}





/*---------- Calendar & Document----------*/

.documentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.documentsContainer--title {
  margin: 0;
}





/*---------- BGeneral ----------*/

.bgeneralContainer h2::before {
  content: '- ';
}

.bgeneralContainer h2::after {
  content: ' -';
}





/*---------- Scholarships ----------*/

.scholarships__logo {
  text-align: center;
}

.scholarships__logo img {
  width: 70%;
}





/*---------- MIGE ----------*/

.migeContainer {
  margin-bottom: 20rem;
}

.mige__logo {
  text-align: center;
}

.mige__logo img {
  width: 50%;
}





/*---------- Footer ----------*/

.footer__contactNumbers {
  max-width: 80rem;
  margin: 0 auto 5rem;
}

.footer__socialMedia {
  margin-bottom: 5rem;
}

.footer__logo {
  margin-bottom: 5rem;
}

.footer__logo figure img {
  width: 10rem;
}





