/*---------- Academician Documents ----------*/

.academician article button {
  align-self: flex-start;
}

.academician article .academician--title {
  font-size: 2rem;
}

.academician__asideContainer {
  display: flex;
  justify-content: space-between;
}

.academician__asideContainer hr {
  height: 10rem;
  align-self: center;
}





