.container {
  padding: 5rem;
  max-width: 190rem;
}





/*---------- Header ----------*/

header nav svg,
.nav__container--title,
.navContainer figure {
  display: none;
}

.header__navBar img {
  margin: 1.5rem 0 0 7rem;

}

header nav {
  display: block;
  position: initial;
  right: initial;
  transition: none;
  margin: 3rem 4rem 0 0;
}

header .navContainer {
  position: initial;
  overflow: initial;
  background: none;
  height: initial;
  padding: 0;
  width: initial;
  box-shadow: none;
}

.navContainer ul {
  margin: 0;
  display: flex;
}

.navContainer ul li {
  border: none;
  margin: 0;
  height: 5rem;
}

header nav a {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 2rem;
  height: inherit;
  transition: transform 200ms ease-in-out;
}

.navContainer ul li:hover a {
  background-color: white;
  border-radius: 1rem;
  color: black;
  transform: translateY(-1rem);
}





/*---------- Competencies ----------*/

.competencies__cards {
  background: url('/assets/logos/logo.png') center/contain no-repeat;
  max-width: none;
  max-width: 166rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 9rem;
}

.competencies__cards--card {
  margin: 0;
  min-height: 49rem;
  max-width: 35rem;
  padding: 6rem 2rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: .1rem .1rem 1rem .1rem black;
  transition: transform 300ms ease-in-out;
}

.competencies__cards--card:hover {
  transform: translateY(-3rem);
}





/*---------- Profile ----------*/

.profile__conceptsContainer {
  justify-content: space-around;
}

.profile__conceptsLeft,
.profile__conceptsRight {
  max-width: 40rem;
}





@media (min-width: 1200px) {

  header {
    height: 60rem;
  }

}

@media (min-width: 1300px) {

  header {
    height: 65rem;
  }

}





/*---------- Footer ----------*/

footer {
  max-width: 190rem;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.footer__contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.footer__contactNumbers {
  max-width: none;
  width: 25rem;
  margin: 0;
}

.contactNumbers__numbers {
  justify-content: space-between;
}

.footer__socialMedia {
  margin: 0;
}

.footer__socialMedia--title {
  margin-bottom: 4rem;
}

.footer__socialMedia svg {
  width: 4rem;
}

.footer__logo {
  margin: 0;
  font-size: 1.8rem;
}

.footer__copyright {
  text-align: initial;
}




