.container {
  padding: 3rem;
}





/*---------- Profile ----------*/

.profile {
  padding: 6rem 6rem;
  background-color: var(--secondary);
  color: var(--white);
}

.profile h4,
.profile h5 {
  color: var(--white);
}





